*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Tajawal', sans-serif;
    text-align: right;
}
// variables
$maincolor : #0742CD;
$subcolor: #000;

// genral margin
.margin-y{
    margin-top: 200px;
    @media (max-width: 767px) {
        margin-top: 100px;
    }
}



.hero{
    background-image: url(../images/background-header.svg);
    @media (min-width: 1200px) {
        // height: 100vh;
        // height: 853px;
    }
    height: 853px;
    background-repeat: no-repeat;
    background-position: right;
    header{
        nav{
            width: 100%;
            .navbar-nav{
                @media (max-width: 767px){
                    margin-top: 20px;
                }
                .nav-link{
                    &:hover{
                        color: rgb(182, 180, 180) !important;
                    }
                }
                .signup-btn{
                    width: 152px;
                    height: 37px;
                    background: $maincolor 0% 0% no-repeat padding-box;
                    border-radius: 31px;
                    color: #fff;
                    text-align: center;
                    font-size: 13px;
                }
                .login-btn{
                    margin-left: 35px;
                    font-size: 13px;
                    color: $subcolor;
                    font-weight: bold;
                }
            }
        }
    }
    .hero-content{
        margin-top: 50px;
        .text-container{
            @media (max-width: 767px){
                margin-bottom: 40px;
                margin-top: 50px;
            }
            @media (min-width: 1200px){
                padding: 190px 0;
                margin-right: 40px;
            }
            .edu-title{
                letter-spacing: 0.78px;
                color: #0742CD;
                font-weight: bold;
                font-size: 28px;
            }
            .edu-desc{
                font-weight: bold;
                color: $subcolor;
                line-height: 30px;
                @media (min-width: 1200px) {
                    width: 420px;
                    font-size: 18px;
                }
            }
        }
        .img-container{
            img{
                @media (max-width: 767px){
                    width: 100%
                }
            }
        }
    }
}

.feature-title{
    font-weight: bold;
    margin-bottom: 30px;
    &::after{
        content: "";
        display: block;
        height: 8px;
        background-color: #F8E587;
        width: 90px;
        margin: 14px auto;
        border-radius: 5px;
    }
}

.feature-item{
    // margin-top: 70px;
    .edu-title{
        font-weight: bold;
        font-size: 26px;
        width: 300px;
        margin-bottom: 23px;
        span{
            color: $maincolor;
        }
    }
    .edu-desc{
        color: #9F9D9D;
        font-size: 20px;
        @media (min-width: 1200px) {
            width: 390px;
        }
    }
    .option{
        margin-bottom: .5rem;
        font-size: 20px;
        color: #9F9D9D;
    }
    .img-container{
        img{
            width: 100%;
        }
    }
}

.feature-item.second ,.feature-item.fourth{
    .text-container{
        @media (min-width: 1200px) {
            margin-top: 90px;
            margin-right: 60px;
        }
    }
}

.imgs{
    margin-top: 20px;
    background-image: url(../images/half-circle.svg);
    background-repeat: no-repeat;
    background-position: right;
    height: 210px;
    .img-container{
        img{
            margin-top: 120px;
            width: 100%
        }
    }
}

.pricing{
    height: 427px;
    background: #F0F4FC 0% 0% no-repeat padding-box;
    border-radius: 0px 0px 150px 0px;
    position: relative;
    .pricing-content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        h3{
            margin-top: 25px;
        }
    }
}

.contact{
    padding: 90px 0 0;
    .contact-info{
        margin: auto;
        width: 320px;
        text-align: center;
        h2{
            font-size: 29px;
            text-align: center;
        }
        a{
            width: 185px;
            height: 44px;
            background: #0742CD 0% 0% no-repeat padding-box;
            border-radius: 31px;
            display: block;
            color: #fff;
            line-height:44px;
            text-align: center;
            margin: auto;
            margin-top: 30px;
        }
    }
    .img-container{
        img{
            width: 62%;
            @media (max-width:767px){
                width: 90%;
            }
        }
    }
}

footer{
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 188px;
    background: #EBF3FA 0% 0% no-repeat padding-box;
    border-radius: 99px 99px 0px 0px;
    ul{
        list-style-type: none;
        li{
            display: inline-block;
            width: 42px;
            height: 42px;
            background: #0742CD40 0% 0% no-repeat padding-box;
            border: 1px solid #0742CD;
            line-height: 42px;
            text-align: center;
            border-radius: 50%;
            margin: 0 10px;
        }
    }
    p{
        @media (max-width: 767px) {
            text-align: center;
        }
    }
}