* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Tajawal', sans-serif;
  text-align: right; }

.margin-y {
  margin-top: 200px; }
  @media (max-width: 767px) {
    .margin-y {
      margin-top: 100px; } }

.hero {
  background-image: url(../images/background-header.svg);
  height: 853px;
  background-repeat: no-repeat;
  background-position: right; }
  .hero header nav {
    width: 100%; }
    @media (max-width: 767px) {
      .hero header nav .navbar-nav {
        margin-top: 20px; } }
    .hero header nav .navbar-nav .nav-link:hover {
      color: #b6b4b4 !important; }
    .hero header nav .navbar-nav .signup-btn {
      width: 152px;
      height: 37px;
      background: #0742CD 0% 0% no-repeat padding-box;
      border-radius: 31px;
      color: #fff;
      text-align: center;
      font-size: 13px; }
    .hero header nav .navbar-nav .login-btn {
      margin-left: 35px;
      font-size: 13px;
      color: #000;
      font-weight: bold; }
  .hero .hero-content {
    margin-top: 50px; }
    @media (max-width: 767px) {
      .hero .hero-content .text-container {
        margin-bottom: 40px;
        margin-top: 50px; } }
    @media (min-width: 1200px) {
      .hero .hero-content .text-container {
        padding: 190px 0;
        margin-right: 40px; } }
    .hero .hero-content .text-container .edu-title {
      letter-spacing: 0.78px;
      color: #0742CD;
      font-weight: bold;
      font-size: 28px; }
    .hero .hero-content .text-container .edu-desc {
      font-weight: bold;
      color: #000;
      line-height: 30px; }
      @media (min-width: 1200px) {
        .hero .hero-content .text-container .edu-desc {
          width: 420px;
          font-size: 18px; } }
    @media (max-width: 767px) {
      .hero .hero-content .img-container img {
        width: 100%; } }

.feature-title {
  font-weight: bold;
  margin-bottom: 30px; }
  .feature-title::after {
    content: "";
    display: block;
    height: 8px;
    background-color: #F8E587;
    width: 90px;
    margin: 14px auto;
    border-radius: 5px; }

.feature-item .edu-title {
  font-weight: bold;
  font-size: 26px;
  width: 300px;
  margin-bottom: 23px; }
  .feature-item .edu-title span {
    color: #0742CD; }
.feature-item .edu-desc {
  color: #9F9D9D;
  font-size: 20px; }
  @media (min-width: 1200px) {
    .feature-item .edu-desc {
      width: 390px; } }
.feature-item .option {
  margin-bottom: .5rem;
  font-size: 20px;
  color: #9F9D9D; }
.feature-item .img-container img {
  width: 100%; }

@media (min-width: 1200px) {
  .feature-item.second .text-container, .feature-item.fourth .text-container {
    margin-top: 90px;
    margin-right: 60px; } }

.imgs {
  margin-top: 20px;
  background-image: url(../images/half-circle.svg);
  background-repeat: no-repeat;
  background-position: right;
  height: 210px; }
  .imgs .img-container img {
    margin-top: 120px;
    width: 100%; }

.pricing {
  height: 427px;
  background: #F0F4FC 0% 0% no-repeat padding-box;
  border-radius: 0px 0px 150px 0px;
  position: relative; }
  .pricing .pricing-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .pricing .pricing-content h3 {
      margin-top: 25px; }

.contact {
  padding: 90px 0 0; }
  .contact .contact-info {
    margin: auto;
    width: 320px;
    text-align: center; }
    .contact .contact-info h2 {
      font-size: 29px;
      text-align: center; }
    .contact .contact-info a {
      width: 185px;
      height: 44px;
      background: #0742CD 0% 0% no-repeat padding-box;
      border-radius: 31px;
      display: block;
      color: #fff;
      line-height: 44px;
      text-align: center;
      margin: auto;
      margin-top: 30px; }
  .contact .img-container img {
    width: 62%; }
    @media (max-width: 767px) {
      .contact .img-container img {
        width: 90%; } }

footer {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 188px;
  background: #EBF3FA 0% 0% no-repeat padding-box;
  border-radius: 99px 99px 0px 0px; }
  footer ul {
    list-style-type: none; }
    footer ul li {
      display: inline-block;
      width: 42px;
      height: 42px;
      background: #0742CD40 0% 0% no-repeat padding-box;
      border: 1px solid #0742CD;
      line-height: 42px;
      text-align: center;
      border-radius: 50%;
      margin: 0 10px; }
  @media (max-width: 767px) {
    footer p {
      text-align: center; } }

/*# sourceMappingURL=style.css.map */
